name: Publish Caddy Container

on:
  # push:
  #   branches: [ "main" ]
  #   tags: [ 'v*.*.*' ]
  workflow_dispatch:
    inputs:
      caddy_version:
        description: 'Caddy version'
        required: false
        default: '2.10.2'

env:
  REGISTRY: ${{ secrets.REGISTRY_URL }}
  IMAGE_NAME: ${{ github.repository }}
  CADDY_VERSION: ${{ github.event.inputs.caddy_version }}

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 #v3.5.0
        with:
          cosign-release: 'v2.2.4'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}

      - name: Build and push
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          platforms: linux/amd64,linux/arm64
          build-args: |
            CADDY_VERSION=${{ env.CADDY_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          sbom: false # multi-arch 빌드에서는 SBOM 생성 비활성화 하고 별도 생성
          provenance: false
          
      - name: Generate SBOM
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: false             # push 금지
          sbom: true              # SBOM 생성
          platforms: linux/amd64  # 단일 arch로 고
          outputs: type=local,dest=./sbom

      - name: Sign the published Docker image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: |
          cosign sign --yes ${REGISTRY}/${IMAGE_NAME}@${DIGEST}
