name: Publish Caddy Container

on:
  # push:
  #   branches: [ "main" ]
  #   tags: [ 'v*.*.*' ]
  workflow_dispatch:
    inputs:
      caddy_version:
        description: 'Caddy version'
        required: false
        default: '2.10.2'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CADDY_VERSION: ${{ github.event.inputs.caddy_version }}

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 #v3.5.0
        with:
          cosign-release: 'v2.2.4'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push with SBOM
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }},${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          platforms: linux/amd64,linux/arm64
          build-args: |
            CADDY_VERSION=${{ env.CADDY_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # sbom: true
          provenance: false
          outputs: type=local,dest=./sbom
          
      # - name: Upload SBOM artifacts
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: sbom
      #     path: |
      #       ./sbom/**/*.spdx.json
      #       ./sbom/**/*.cyclonedx.json
      #       ./sbom/**/*.syft.json

      - name: Sign the published Docker image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-an-intermediate-environment-variable
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: echo "${TAGS}" | xargs -I {} cosign sign --yes {}@${DIGEST}
